<!-- ---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

---
permalink: /teaching2/
title: "Teaching"
author_profile: true
---

## Generalization of the DeGroot Model
<div style="text-align: right"> <font size="2"> Mentor: Dr. Alan Scheller-Wolf </font> </div>
<div style="text-align: right"> <font size="2"> Aug. 2024 - Present </font> </div>
* Investigate the generalization of DeGroot model in social networks, applying techniques in Information Theory and Operations Research
